.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;
    width: 450px;
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
}

.journal__sidebar-navbar h3 {
    font-weight: lighter;
}

.journal__new-entry {
    align-items: center;  
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;

    transition: color .3s ease-in-out;

    &:hover{
        color: darken($color: white, $amount: 20);
    }
}

.journal__entries {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;
}
.journal__entries {
    margin-top: 30px;
    padding: 5px;
    flex: 1 1 auto;
    overflow-y: scroll;
   
    &::-webkit-scrollbar-track {
      --webkit-box-shadow: inset 0 0 6px $dark-grey;
      border-radius: 10px;
      background-color: $light-grey;
    }
   
    &::-webkit-scrollbar {
      width: 9px;
      border-radius: 10px;
      background-color: $light-grey;
    }
   
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      --webkit-box-shadow: inset 0 0 6px $dark-grey;
      background-color: $primary;
    }
  }

.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.journal__entry-picture {
    height: 75px;
    width: 75px;
}

.journal__entry-body {
    padding: 10px;
}

.journal__entry-title {
    font-size: 14px;
    font-weight: bold;
}

.journal__entry-content {
    font-size: 10px;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.journal__entry-date-box span {
    font-size: 12px;
}
.journal__sidebar-navbar{
    margin: 0 auto;
}

.journal__profile {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.journal__profile-img{
    border-radius: 50%;
    width: 20%;
}

.journal__logout {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($color: $primary, $amount: 10);
    }
    margin-bottom: 80px;
}

.journal__logout button {
    font-size: 16px;
    
}